<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&family=Poppins:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dasboard</title>
  </head>
  <body>
    <div class="body-container">
      <header class="header-container">
        <div class="header-box">
          <h2>Flashvolve</h2>
        </div>

        <div class="input-box">
          <div class="input-box-top">
            <form action="" class="form-dropbox">
              <select name="" id="select-arte" class="select-dropbox">
                <option value="">Selecione a campanha</option>
                <option value="">nome arte 1</option>
                <option value="">nome arte 2</option>
                <option value="">nome arte 3</option>
                <option value="">nome arte 4</option>
              </select>
            </form>

            <form action="" class="search-box">
              <input type="text" placeholder="Buscar..." id="input-search" />
              <input type="submit" hidden />
            </form>

            <div class="date-filter-box">
              <label for="date-start">De</label>
              <input
                type="date"
                class="date-filter-box-start"
                id="date-start"
              />
              <label for="date-end">Até</label>
              <input type="date" class="date-filter-box-end" id="date-end" />
            </div>
          </div>

          <div class="text-box">
            <h2>Total de personalizações: 1152</h2>
            <small>
              Total de usuários: 515 / Média de personalizações por usuários:
              2.2
            </small>
          </div>

          <div class="input-box-bottom">
            <select name="" id="" class="select-dropbox">
              <option value="">ORGANIZAR POR</option>
              <option value="">opção 1</option>
              <option value="">opção 2</option>
              <option value="">opção 3</option>
              <option value="">opção 4</option>
            </select>
            <button>FAZER DOWNLOADS SELECIONADOS</button>
          </div>
        </div>
      </header>
      <div class="main-container">
        <div class="card-container">
          <div class="text-card-box">
            <h3>Nome de identificação</h3>
            <ion-icon name="eye-outline"></ion-icon>
            <p>id: 553182828282</p>
          </div>
          <div class="image-box">
            <img src="/img/db5b0c7b-3c6e-4efc-9250-3d7268ffd14d.jpeg" alt="" />
          </div>
          <div class="button-download-box">
            <div class="btn-download">
              <input type="checkbox" id="id-001" />
              <label for="id-001">selecionar</label>
            </div>
            <div class="btn-download">
              <div id="btn-image-download">
                <ion-icon name="download-outline" id="icon-download"></ion-icon>
              </div>
              <label for="btn-image-download">download</label>
            </div>
          </div>
        </div>
        <!-- End-card -->
        <div class="card-container">
          <div class="text-card-box">
            <h3>Nome de identificação</h3>
            <ion-icon name="eye-outline"></ion-icon>
            <p>id: 553182828282</p>
          </div>
          <div class="image-box">
            <img src="/img/db5b0c7b-3c6e-4efc-9250-3d7268ffd14d.jpeg" alt="" />
          </div>
          <div class="button-download-box">
            <div class="btn-download">
              <input type="checkbox" id="id-001" />
              <label for="id-001">selecionar</label>
            </div>
            <div class="btn-download">
              <div id="btn-image-download">
                <ion-icon name="download-outline" id="icon-download"></ion-icon>
              </div>
              <label for="btn-image-download">download</label>
            </div>
          </div>
        </div>
        <!-- End-card -->
        <div class="card-container">
          <div class="text-card-box">
            <h3>Nome de identificação</h3>
            <ion-icon name="eye-outline"></ion-icon>
            <p>id: 553182828282</p>
          </div>
          <div class="image-box">
            <img src="/img/db5b0c7b-3c6e-4efc-9250-3d7268ffd14d.jpeg" alt="" />
          </div>
          <div class="button-download-box">
            <div class="btn-download">
              <input type="checkbox" id="id-001" />
              <label for="id-001">selecionar</label>
            </div>
            <div class="btn-download">
              <div id="btn-image-download">
                <ion-icon name="download-outline" id="icon-download"></ion-icon>
              </div>
              <label for="btn-image-download">download</label>
            </div>
          </div>
        </div>
        <!-- End-card -->
        <div class="card-container">
          <div class="text-card-box">
            <h3>Nome de identificação</h3>
            <ion-icon name="eye-outline"></ion-icon>
            <p>id: 553182828282</p>
          </div>
          <div class="image-box">
            <img src="/img/db5b0c7b-3c6e-4efc-9250-3d7268ffd14d.jpeg" alt="" />
          </div>
          <div class="button-download-box">
            <div class="btn-download">
              <input type="checkbox" id="id-001" />
              <label for="id-001">selecionar</label>
            </div>
            <div class="btn-download">
              <div id="btn-image-download">
                <ion-icon name="download-outline" id="icon-download"></ion-icon>
              </div>
              <label for="btn-image-download">download</label>
            </div>
          </div>
        </div>
        <!-- End-card -->
        <div class="card-container">
          <div class="text-card-box">
            <h3>Nome de identificação</h3>
            <ion-icon name="eye-outline"></ion-icon>
            <p>id: 553182828282</p>
          </div>
          <div class="image-box">
            <img src="/img/db5b0c7b-3c6e-4efc-9250-3d7268ffd14d.jpeg" alt="" />
          </div>
          <div class="button-download-box">
            <div class="btn-download">
              <input type="checkbox" id="id-001" />
              <label for="id-001">selecionar</label>
            </div>
            <div class="btn-download">
              <div id="btn-image-download">
                <ion-icon name="download-outline" id="icon-download"></ion-icon>
              </div>
              <label for="btn-image-download">download</label>
            </div>
          </div>
        </div>
        <!-- End-card -->
        <div class="card-container">
          <div class="text-card-box">
            <h3>Nome de identificação</h3>
            <ion-icon name="eye-outline"></ion-icon>
            <p>id: 553182828282</p>
          </div>
          <div class="image-box">
            <img src="/img/db5b0c7b-3c6e-4efc-9250-3d7268ffd14d.jpeg" alt="" />
          </div>
          <div class="button-download-box">
            <div class="btn-download">
              <input type="checkbox" id="id-001" />
              <label for="id-001">selecionar</label>
            </div>
            <div class="btn-download">
              <div id="btn-image-download">
                <ion-icon name="download-outline" id="icon-download"></ion-icon>
              </div>
              <label for="btn-image-download">download</label>
            </div>
          </div>
        </div>
        <!-- End-card -->
        <div class="card-container">
          <div class="text-card-box">
            <h3>Nome de identificação</h3>
            <ion-icon name="eye-outline"></ion-icon>
            <p>id: 553182828282</p>
          </div>
          <div class="image-box">
            <img src="/img/db5b0c7b-3c6e-4efc-9250-3d7268ffd14d.jpeg" alt="" />
          </div>
          <div class="button-download-box">
            <div class="btn-download">
              <input type="checkbox" id="id-001" />
              <label for="id-001">selecionar</label>
            </div>
            <div class="btn-download">
              <div id="btn-image-download">
                <ion-icon name="download-outline" id="icon-download"></ion-icon>
              </div>
              <label for="btn-image-download">download</label>
            </div>
          </div>
        </div>
        <!-- End-card -->
        <div class="card-container">
          <div class="text-card-box">
            <h3>Nome de identificação</h3>
            <ion-icon name="eye-outline"></ion-icon>
            <p>id: 553182828282</p>
          </div>
          <div class="image-box">
            <img src="/img/db5b0c7b-3c6e-4efc-9250-3d7268ffd14d.jpeg" alt="" />
          </div>
          <div class="button-download-box">
            <div class="btn-download">
              <input type="checkbox" id="id-001" />
              <label for="id-001">selecionar</label>
            </div>
            <div class="btn-download">
              <div id="btn-image-download">
                <ion-icon name="download-outline" id="icon-download"></ion-icon>
              </div>
              <label for="btn-image-download">download</label>
            </div>
          </div>
        </div>
        <!-- End-card -->
        <div class="card-container">
          <div class="text-card-box">
            <h3>Nome de identificação</h3>
            <ion-icon name="eye-outline"></ion-icon>
            <p>id: 553182828282</p>
          </div>
          <div class="image-box">
            <img src="/img/db5b0c7b-3c6e-4efc-9250-3d7268ffd14d.jpeg" alt="" />
          </div>
          <div class="button-download-box">
            <div class="btn-download">
              <input type="checkbox" id="id-001" />
              <label for="id-001">selecionar</label>
            </div>
            <div class="btn-download">
              <div id="btn-image-download">
                <ion-icon name="download-outline" id="icon-download"></ion-icon>
              </div>
              <label for="btn-image-download">download</label>
            </div>
          </div>
        </div>
        <!-- End-card -->
        <div class="card-container">
          <div class="text-card-box">
            <h3>Nome de identificação</h3>
            <ion-icon name="eye-outline"></ion-icon>
            <p>id: 553182828282</p>
          </div>
          <div class="image-box">
            <img src="/img/db5b0c7b-3c6e-4efc-9250-3d7268ffd14d.jpeg" alt="" />
          </div>
          <div class="button-download-box">
            <div class="btn-download">
              <input type="checkbox" id="id-001" />
              <label for="id-001">selecionar</label>
            </div>
            <div class="btn-download">
              <div id="btn-image-download">
                <ion-icon name="download-outline" id="icon-download"></ion-icon>
              </div>
              <label for="btn-image-download">download</label>
            </div>
          </div>
        </div>
        <!-- End-card -->
        <div class="card-container">
          <div class="text-card-box">
            <h3>Nome de identificação</h3>
            <ion-icon name="eye-outline"></ion-icon>
            <p>id: 553182828282</p>
          </div>
          <div class="image-box">
            <img src="/img/db5b0c7b-3c6e-4efc-9250-3d7268ffd14d.jpeg" alt="" />
          </div>
          <div class="button-download-box">
            <div class="btn-download">
              <input type="checkbox" id="id-001" />
              <label for="id-001">selecionar</label>
            </div>
            <div class="btn-download">
              <div id="btn-image-download">
                <ion-icon name="download-outline" id="icon-download"></ion-icon>
              </div>
              <label for="btn-image-download">download</label>
            </div>
          </div>
        </div>
        <!-- End-card -->
        <div class="card-container">
          <div class="text-card-box">
            <h3>Nome de identificação</h3>
            <ion-icon name="eye-outline"></ion-icon>
            <p>id: 553182828282</p>
          </div>
          <div class="image-box">
            <img src="/img/db5b0c7b-3c6e-4efc-9250-3d7268ffd14d.jpeg" alt="" />
          </div>
          <div class="button-download-box">
            <div class="btn-download">
              <input type="checkbox" id="id-001" />
              <label for="id-001">selecionar</label>
            </div>
            <div class="btn-download">
              <div id="btn-image-download">
                <ion-icon name="download-outline" id="icon-download"></ion-icon>
              </div>
              <label for="btn-image-download">download</label>
            </div>
          </div>
        </div>
        <!-- End-card -->
        <div class="card-container">
          <div class="text-card-box">
            <h3>Nome de identificação</h3>
            <ion-icon name="eye-outline"></ion-icon>
            <p>id: 553182828282</p>
          </div>
          <div class="image-box">
            <img src="/img/db5b0c7b-3c6e-4efc-9250-3d7268ffd14d.jpeg" alt="" />
          </div>
          <div class="button-download-box">
            <div class="btn-download">
              <input type="checkbox" id="id-001" />
              <label for="id-001">selecionar</label>
            </div>
            <div class="btn-download">
              <div id="btn-image-download">
                <ion-icon name="download-outline" id="icon-download"></ion-icon>
              </div>
              <label for="btn-image-download">download</label>
            </div>
          </div>
        </div>
        <!-- End-card -->
      </div>
    </div>
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
