* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-family: "Poppins", sans-serif;
  background-color: #E5E5E5;
}

.body-container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

/* header */
.header-container {
  padding: 2em;
}

.header-box {
  text-align: center;
  border-bottom: 2px solid #444444;
}

.header-box h2 {
  padding-bottom: 1em;
}

.input-box-top {
  display: flex;
  justify-content: space-between;
}

.input-box-bottom {
  display: flex;
  gap: 20px;
  /* justify-content: center; */
}

.input-box {
  padding-top: 40px;
}

.search-box #input-search {
    padding-left: 10px;
  min-width: 250px;
  height: 36px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #999999;
}

.select-dropbox {
  min-width: 268px;
  height: 36px;
  border-radius: 5px;
  border: 1px solid #999999;
}

.select-dropbox {
    padding-left: 10px;
}

.date-filter-box input {
  height: 36px;
  border-radius: 5px;
  border: 1px solid #999999;
  outline: none;
}

.input-box-bottom select {
  background: #444444;
  border: 1px solid #c9c9c9;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.input-box-bottom button {
    min-width: 286px;
    font-weight: 700;
  background: #ebebeb;
  border: 1px solid #c9c9c9;
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.input-box-bottom button:hover {
  cursor: pointer;
}

.text-box {
    padding: 2.5em 0;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
}

.text-box h2 {
    font-weight: 700;
    font-size: 36px;
}

/* main-container */
.main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  padding: 0 10px;
}
.main-container .card-container {
  min-width: 240px;
  max-width: 240px;
}

.image-box img {
  width: 100%;
}

.button-download-box {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 35px;
}

.btn-download {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-download button {
  width: 35px;
}

#icon-download{
    color: #444444;
    font-size: 24px;
}